<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>
        <link rel="stylesheet" href="/css/form.css">
        <!-- Google Tag manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K3SG3FFJ');  
  </script>
    </head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/658a2960da.js"
        crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
        rel="stylesheet">
    <body
        style="background-image: url('/Insurance.jpeg'); min-height: 100vh;">
        <noscript><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-K3SG3FFJ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <style>
      .error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
.inner-design {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #0000001f;
    padding: 40px 25px;
    margin-bottom: 30px;
}
.logo img {
    width: 20%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #0000001f;
    border-radius: 100px;
    padding: 8px;
    margin-top: -100px;
}
.heading{
  font-size: 20px; font-weight: 500;
}
.input_option{
    border: none;
    border-bottom:
    1px solid #d3d3d3;
}
.input_option:focus{
  outline: none;
}
#nextBtn:hover{
    background-color: #000000;
    color: white;
    cursor: pointer;
}
    </style>
        <form id="regForm" action="/formsubmit" method="post">
            <div class="tab" style="display: block;">
                <p id="clientId" hidden><%=clientId%></p>
                <div class="inside-tab2 input-div">
                    <div>
                        <h3
                            style="margin: 0px 0px 13px 0px; text-align: left; font-weight: 400;">Contact
                            information <i class="fa-solid fa-circle-info"
                                style="color: #000000;"></i></h3>
                        <p class="second-form-para">We'll use your information
                            to contact
                            you</p>
                    </div>
                    <div id="input_div" style="margin-bottom: 20px;">
                        <label class="input_label_form">Full Name</label>
                        <div
                            style="display: flex; border-bottom: 1px solid rgb(192 192 192);">
                            <input placeholder="Enter your answer." required
                                oninput="this.className = ''"
                                name="name">
                        </div>
                    </div>
                    <div id="phone_div" style="margin-bottom: 20px;">
                        <label class="input_label_form">Phone number</label>
                        <div style="display: flex;"><span style="display: flex;
                                                align-items: center;
                                                margin: 0px 5px 17px 1px; font-size: smaller;min-width: 60px;
                                    color: dimgrey;">SG +65</span><div
                                style="display: flex; border-bottom: 1px solid rgb(192 192 192); width: 100%;">
                                <input type="number" minlength="8"
                                    maxlength="8" required
                                    placeholder="Mobile Number"
                                    pattern="\d{1,8}"
                                    oninput="if(this.value.length > 8) this.value = this.value.slice(0, 8);"
                                    oninput="this.className = ''"
                                    name="phone"></div>
                        </div>
                    </div>
                    <div id="phone_div" style="margin-bottom: 20px;">
                        <label class="input_label_form">Email</label>
                        <div
                            style="display: flex; border-bottom: 1px solid rgb(192 192 192);">
                            <input type="email" placeholder="Enter your answer."
                                required
                                oninput="this.className = ''"
                                name="email">
                        </div>
                    </div>
                </div>
                <div class="first-brand-box">
                </div>
                <p id="project_name" style="display: none;"></p>
                <p id="client_name" style="display: none;"></p>
                <p id="client_code" style="display: none;"></p>
                <%for(let i = 0; i < firstPage.questions.length; i++){%>
                <div class="inside-tab radio-div">
                    <h3 class="heading"><%=firstPage.questions[i].question%></h3>
                    <div>
                        <%for(let j = 0; j <
                        firstPage.questions[i].options.length; j++){%>
                        <label class="container">
                            <input type="radio"
                                name="<%=firstPage.questions[i].question%>"
                                value="<%=firstPage.questions[i].options[j]%>">
                            <span class="checkmark" data-value="Three"><%=firstPage.questions[i].options[j]%></span>
                        </label>
                        <%}%>
                    </div>
                </div>
                <%}%>

            </div>
            <div class="button-div">
                <button
                    style="font-size: 14px; font-family: myriad-regular, sans-serif;"
                    id="nextBtn">Submit</button>
            </div>
        </form>
    </body>
    <footer>
        <div style=" padding: 10px; background-color: #000000;">
            <p style="font-size: 12px; color: #6c6c6c; margin: 0px;">
                <span style="color: #000000; font-weight: 600;"></span><a
                    target="_blank" style="text-decoration: none; color: white;"
                    href="https://jomejourney.com/privacy/">
                    All participants are required to be aware that
                    upon form submission, they agree to engage with the relevant
                    services we have advertised. By participating, you grant
                    permission for the relevant parties to contact you through
                    various means, including phone calls, text messages,
                    WhatsApp,
                    and email, as part of the lucky draw contest process. For
                    more
                    information or to opt out of these communications, please
                    refer
                    to our comprehensive privacy policy.
                </a>
            </p>
        </div>

    </footer>
    <script src="/script/formscript.js"></script>
    <script>
      document.getElementById('regForm').addEventListener('submit', async function(event) {
  event.preventDefault(); // This will prevent the default form submission

  // Collecting the form data
  var fullName = document.querySelector('input[name="name"]').value;
  var phoneNumber = document.querySelector('input[name="phone"]').value;
  var email = document.querySelector('input[name="email"]').value;

  // Assuming you have questions with checkboxes as per the provided form structure
  var questionsAndAnswers = [];
var questionElements = document.querySelectorAll('.inside-tab.radio-div');

questionElements.forEach(function(questionElement) {
  var question = questionElement.querySelector('.heading').textContent.trim(); // Trim the textContent to remove any extra white-space
  var option = ""; // Since radio buttons only allow one option, this is a singular string, not an array
  var radios = questionElement.querySelectorAll('input[type="radio"]:checked');

  // Since only one radio can be checked at a time, there will only be one or none in the NodeList
  if (radios.length > 0) {
    option = radios[0].value; // Get the value of the checked radio button
  }

  questionsAndAnswers.push({ [question]:option });
});
 const clientId = document.getElementById('clientId').textContent;
  // Here you can process your data, for example, send it to a server
        var formData = {
            Name: fullName,
            Phone: phoneNumber,
            Email: email,
            clientId:clientId,
            questions: questionsAndAnswers
        };
        const ip = await fetchIp();
        formData.ip = ip;
        const button = document.getElementById('nextBtn');
        disableButton(button);
        const res = await fetch('/api/storeInsuranceLead', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData)
        })
        window.location.assign(`/ThankyouPage/insurance/${clientId}`);
});
function disableButton(button) {
    button.disabled = true;
    button.innerText = "Processing...";
}

async function fetchIp(){
    const res = await fetch("https://api.ipify.org/?format=json");
    const data = await res.json()
   return data.ip;
  }

    </script>

</html>