<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/lightgallery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery-bundle.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/zoom/lg-zoom.min.js" integrity="sha512-BLW2Jrofiqm6m7JhkQDIh2olT0EBI58+hIL/AXWvo8gOXKmsNlU6myJyEkTy6rOAAZjn0032FRk8sl9RgXPYIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/thumbnail/lg-thumbnail.min.js" integrity="sha512-VBbe8aA3uiK90EUKJnZ4iEs0lKXRhzaAXL8CIHWYReUwULzxkOSxlNixn41OLdX0R1KNP23/s76YPyeRhE6P+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    .main_container{
        display: flex; width: 50%; height: 60%;
    }
    #left{
        position: relative; display: flex; justify-content: center; align-items: start; width: 50%;
    }
    .inner_left_left{
        bottom: 0px;  position: absolute; background-color: #0066C9; width: 100%; height: 60%;
    }
    .text{
        font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
color: #616586;
    }
    .heading_gallery{
        font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
        margin-bottom: 80px;
    }
    .inline-gallery-container {
        width: 80%;
        min-height: 30%;
        text-align: center;
        padding-bottom: 65%;
        margin: 150px auto;
    }
    p.text {
    padding-bottom: 32px;
}
    @media (max-width: 927px) {
        .main_container{
            width: 90%;
        }
        .heading{
            font-size: 24px !important;
        }
        
    }
    @media (max-width: 768px) {
      .main_container {
        flex-direction: column !important;
      }
      .heading{
        padding-bottom: 0px !important;
        padding-top: 0px !important;
      }

      #left,
      #right {
        width: 100% !important;
      }
      p.text {
    padding-bottom: 32px;
}
    }
</style>
</head>

<body style="background-color: #002655" ; width: 100%; height: 100%;" data-new-gr-c-s-check-loaded="8.909.0" data-gr-ext-installed="">
<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 60%; padding: 100px 0;">
    <div class="main_container">
        <div id="left">
            <div class="inner_left_left">

            </div>
            <div style="background-size: cover;background-position: center;  z-index: 1; height: 90%; width: 90%;" class="image_container">
                <img src="/<%=img_link%>" style="width: 100%;
                position: sticky;
                top: 20px;">
            </div>
        </div>
        <div id="right" style=" display: flex; justify-content: center; align-items: center; width: 50%; background-color: #fff;">
            <div style="min-height: 80%; min-width: 90%; margin: auto;">
                <p class="heading text" style=" padding-bottom: 0px;
                padding-left: 30px;
                margin-top: 35px;"><%=about_us[0]%></p>
                <h1 class="text heading" style="word-wrap: anywhere; font-size: 30px; font-family: 'Inter', sans-serif; padding: 15px 30px;"><%=about_us[1]%></h1>
                <p class="text" style="word-wrap: break-word; padding: 15px 30px; text-align: left;"><%=about_us[2]%></p>
            </div>
        
        </div>
    </div>
    
</div>
    <script>
        const colors = {
            2: {
                lightColor:'#b68e00',
                darkColor: '#dbab00'
            },
            3:{
                lightColor: '#b9140e',
                darkColor: '#BD5555'
            },
            4:{
                lightColor: '#EFBC9B',
                darkColor: '#ECA577'
            },
            5:{
                lightColor: '#a4d2e6',
                darkColor: '#90ccdc'
            },
            6:{
                lightColor: '#c8b595',
                darkColor: '#b1a08d'
            },

        }
        const temp = `<%-temp%>`;
        if(temp != 1){
            document.querySelector('body').style.backgroundColor = colors[temp].darkColor;
            document.querySelector('.inner_left_left').style.backgroundColor = colors[temp].lightColor;
        }
    </script>
</body>
</html>
