<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/profile3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap"
    />
  </head>
  
  <style>
    .hide_scroll::-webkit-scrollbar {
      display: none;
    }
    .hide_scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 999;
    }
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      opacity: 0.4;
      background-color: rgb(0, 0, 0);
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
    }
    .text_style{
      color: #FFF;
      font-family: Quicksand;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .heading_style{
      position: relative;
    }
    a{
      text-decoration: none;
      color: #FFF;
    }
    .form_input{
      border: none;
      height: 49.936px;
      width: 100%;
      flex-shrink: 0; 
      margin-bottom: 15px;
      border-radius: 4px;
      background: #ECECEC; 
      padding: 15px 0px 15px 20px; 
      box-sizing: border-box;
    }
    .btn_submit{
      width: 100%;
      margin: 15px 0px;
      height: 49.936px;
      flex-shrink: 0;
      bottom: 20px;
      color: white;
      left: 50%; 
      border: none;
      cursor: pointer;
      border-radius: 25px;
      background: linear-gradient(0deg, #002773 0%, #002773 100%), #FF6012;
    }
    select {
      height: 49.936px;
      width: 100%;
      background-color: #ECECEC;
      border-radius: 4px;
      border: none;
      padding: 0px 5px;
    }
    .close_popup{
      display: none;
    }
    .close_btn{
      cursor: pointer;
      position: absolute; 
      right: 20px; 
      top: 20px;
    }
    #popupform{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* Existing styles for #popupform */
      box-sizing: border-box;
      padding: 66px 15px 20px 15px;
      background-color: #FFF;
      border-radius: 10px;
      width: 40%;
      max-height: 600px;
      overflow-x: auto;
    }
    @media only screen and (max-width: 1000px) {
      #popupform{
        width: 90%;
      }
    }
  </style>
      <body>
        <div class="overlay" id="overlay"></div>
          <div class="div">
            <section style="height: 400px;">
                <div class="child"></div>
                <div class="item"></div>
                <div class="inner"></div>
                <div class="rectangle-parent">
                  <div class="group-child"></div>
                  <img class="group-item" alt="" src="/<%=profile.profile_img_path%>" />
                </div>
                <div class="agent-name-parent">
                  <p class="agent-name"><%=profile.name%></p>
                  <img class="group-inner" alt="" src="./public/line-1@2x.png" />
                </div>
              </section>
              <section id="profile_preview_innercontainer">
                <%for(let i = 0; i < links.length; i++){%>
                  <%if(links[i].type == "link"){%>
                    <li style="position: relative; margin:10px auto 10px auto; display: flex; justify-content: center; align-items: center; background-color: #B68E00; width: 330px; border-radius: 20px; height: 50px;">
                      <a class="text_style" style=" text-decoration: none; color: white;" href="<%=links[i].link%>"><%=links[i].name%></a>
                    </li>
                  <%}else if(links[i].type == "heading"){%>
                      <p class="text_style heading_style" style=" margin: 40px 30px 20px 30px; width: fit-content;" class="profile_heading"><%=links[i].heading%></p>
                  <%}else{%>
                    <button class="text_style" form_id="<%=links[i].link%>"  style="position: relative; border: none; cursor: pointer; color: white; margin:10px auto 10px auto; display: flex; justify-content: center; align-items: center; background-color: #B68E00; width: 330px; border-radius: 35px; height: 50px;" onclick="showForm(this)"><%=links[i].name%></button>
                  <%}%>
                  <%}%>
              </section>
              <div style="height: 400px;">
                <div class="group-parent">
                  <div class="call-us-parent">
                    <b class="call-us">Call us</b>
                    <div class="group-container">
                      <div class="rectangle-group">
                        <%if(profile.personal_link){%>
                          <a href="<%=profile.personal_link%>">
                            <div class="rectangle-div">
                              <b class="book-and-appointment">Book and Appointment</b>
                            </div>
                          </a>
                        <%}%>
                       
                      </div>
                      <%if(profile.phone){%>
                        <div class="rectangle-container">
                          <a href="https://wa.me/<%=profile.phone%>" target="_blank">
                            <div class="group-child1">
                              <b class="whatsapp">Whatsapp</b>
                            </div>
                          </a>
                        </div>
                      <%}%>
                      
                    </div>
                  </div>
                  <div class="group-div">
                    <div class="group-parent1">
                      <%if(profile.fb_link){%>
                        <a href="<%=profile.fb_link%>" target="_blank">
                          <img class="group-icon" alt="" src="/fb_logo_temp3.png" />
                        </a>
                      <%}%>
                      <%if(profile.linkedin_link){%>
                        <a href="<%=profile.linkedin_link%>" target="_blank">
                          <img class="group-child2" alt="" src="/linkdin_logo_temp3.png" />
                        </a>
                      <%}%>
                      <%if(profile.insta_link){%>
                        <a href="<%=profile.insta_link%>" target="_blank">
                          <img class="group-child3" alt="" src="/insta_logo_temp3.png" />
                        </a>
                      <%}%>
                      
                    </div>
                    <img class="line-icon" alt="" src="./public/line-2@2x.png" />
    
                    <img class="group-child4" alt="" src="./public/line-2@2x.png" />
                  </div>
                </div>
              </div>




            <!-- ######## Form ######## -->
            <div class="hide_scroll close_popup" id="popupform">
              <span class="close_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M8.88394 7.98975L15.817 1.0656C16.0611 0.821824 16.0611 0.426583 15.817 0.182835C15.5729 -0.0609137 15.1771 -0.0609449 14.9331 0.182835L8 7.10698L1.06698 0.182835C0.822883 -0.0609449 0.427133 -0.0609449 0.18307 0.182835C-0.0609922 0.426614 -0.0610234 0.821855 0.18307 1.0656L7.1161 7.98971L0.18307 14.9139C-0.0610234 15.1576 -0.0610234 15.5529 0.18307 15.7966C0.241049 15.8547 0.309941 15.9007 0.385789 15.9321C0.461637 15.9634 0.542944 15.9795 0.625039 15.9794C0.707133 15.9795 0.788439 15.9634 0.864287 15.9321C0.940134 15.9007 1.00903 15.8547 1.06701 15.7966L8 8.87251L14.933 15.7966C15.0551 15.9185 15.215 15.9794 15.375 15.9794C15.535 15.9794 15.6949 15.9185 15.817 15.7966C16.0611 15.5528 16.0611 15.1576 15.817 14.9139L8.88394 7.98975Z" fill="black"/>
                </svg>  
              </span>
              <input class="form_input"  type="text"  placeholder="Full Name">
                <input class="form_input" type="text"  placeholder="Email address">
                <div style="display: flex; justify-content: space-between;">
                  <div style="width: 15%; color:black; font-size: 16px;" class="form_input">+65</div>
                  <input style="width: 83%;" class="form_input" type="tel" placeholder="Mobile">
                </div>
                <input style="height: 70px;" class="form_input" placeholder="Message"></input>
                <!-- Example of dynamic fields -->
                <div id="questions_container">
                  <div>
                    <p class="text_style" style="color: black">Hello what are you doing </p>
                    <select>
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                    </select>
                  </div>
                  <!-- Example of dynamic fields -->
                  <div>
                    <p class="text_style" style="color: black">Hello what are you doing </p>
                  <input class="form_input" placeholder="Example"></input>
                  </div>
                </div>
          
                <button profile_id="<%=profile.id%>" class="btn_submit" onclick="submitLead(this)">Send</button>

            </div>
        </div>
        <script>
    const overlay = document.getElementById("overlay");
  overlay.addEventListener("click", function(){
    document.querySelector("#popupform").style.display = "none";
    overlay.style.display = "none";
  })
  document.querySelector(".close_btn").addEventListener("click", function(){
    document.querySelector("#popupform").style.display = "none";
    overlay.style.display = "none";
  })

          async function showForm(e){
    const formId = e.getAttribute("form_id");
    const {form} = await fetchFormDetail(formId);
    console.log(form);
    populateFormbasedOnBtn(form.questions);
    document.querySelector("#popupform").style.display = "block";
    overlay.style.display = "block";
  }


  const fetchFormDetail = async (id)=>{
      const res = await fetch(`/api/getForm/${id}`,{
          method:"GET"
      })
      const data = await res.json();
      return data;
  }

  function populateFormbasedOnBtn(questions) {
    console.log(questions);
   const questions_container =  document.getElementById("questions_container");
   questions_container.innerHTML = "";
   questions.forEach(question=>{
    if(question.options.length == 0 || question.options[0] == ""){
      questions_container.innerHTML += `
        <div>
          <p class="text_style" style="color: black">${question.question}</p>
          <input class="form_input" placeholder="type here"></input>
        </div>`
    }else{
      const options = question.options.map(option=>{
        return `<option value="${option}">${option}</option>`
      })
      questions_container.innerHTML += ` <div>
          <p class="text_style" style="color: black">${question.question}</p>
          <select>
            ${options.join("")}
          </select>
        </div>
      `
    }  


   }) 
  }
        
        
        
  
  async function submitLead(elem){
    const profilId = elem.getAttribute("profile_id");
    event.preventDefault();
    console.log(validateFields());
    if(!validateFields()){
      Swal.fire({
        title: 'Error!',
        text: 'missing fields',
        icon: 'error',
        confirmButtonText: 'Okay'
      })
      return;
    };
    const data = getdata(event);
    console.log(data);
    const res = await fetch(`/api/submitLead/${profilId}`,{
      method:"POST",
      headers:{
        "Content-Type":"application/json"
      },
      body:JSON.stringify(data)
    })
    const resData = await res.json();
    if(res.status == 200){
      Swal.fire({
        title: 'Success!',
        text: 'Lead submitted successfully',
        icon: 'success',
        confirmButtonText: 'Okay'
      }).then(result=>{
        if(result.isConfirmed){
          document.querySelector("#popupform").style.display = "none";
          overlay.style.display = "none";
        }
      })
    }else{
      Swal.fire({
        title: 'Error!',
        text: 'Something went wrong',
        icon: 'error',
        confirmButtonText: 'Okay'
      })
    }
}

       function getdata(event) {
        event.preventDefault(); // Prevent the default form submission
        const formData = {};
        const form = document.getElementById('popupform');
        // Extract data from each question group
        const questionGroups = form.querySelectorAll('#questions_container > div');
        questionGroups.forEach(group => {
            const question = group.querySelector('p.text_style').textContent.trim();
            const answer = group.querySelector('select, input')?.value;
            formData[question] = answer;
        });

        // Extract data from other inputs
        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const message = document.getElementById("message").value;
            formData["Name"] = name;
            formData["Email"] = email;
            formData["Message"] = message;
        

        // Extract mobile number (special case because of the split fields)
        const mobile = form.querySelector('input[type="tel"]').value;
        const countryCode = form.querySelector('.form_input[style*="width: 15%"]').textContent.trim();
        formData['Mobile'] = countryCode + mobile;

        // Log or handle the formData object
        return formData;
    }

    function validateFields() {
        let isValid = true;

        // Validate text inputs
        const textInputs = document.querySelectorAll('.form_input[type="text"], .form_input[type="tel"], .form_input[style*="height"]');
        textInputs.forEach(input => {
            if (!input.value.trim()) {
                isValid = false;
                input.style.borderColor = 'red'; // Highlight in red
            } else {
                input.style.borderColor = ''; // Reset style
            }
        });

        // Validate email
        const emailInput = document.querySelector('.form_input[type="text"][placeholder="Email address"]');
        if (emailInput && !emailInput.value.match(/^\S+@\S+\.\S+$/)) {
            isValid = false;
            emailInput.style.borderColor = 'red';
        } else if (emailInput) {
            emailInput.style.borderColor = '';
        }

        // Validate selects
        const selects = document.querySelectorAll('#questions_container select');
        selects.forEach(select => {
            if (select.value === '') {
                isValid = false;
                select.style.borderColor = 'red'; // Highlight in red
            } else {
                select.style.borderColor = ''; // Reset style
            }
        });

        return isValid;
    }


        
        </script>
    </body>
</html>









