<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/logo.png">
  <title>
   Jome Journey
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/customselect.css">
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/658a2960da.js"
  crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  <link rel="stylesheet" type="text/css"
  href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script type="text/javascript"
  src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>
<style>
    table{
        color:black;
    }
</style>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K3SG3FFJ');  
</script>
<style>
    table {
                    width: 100%;
                    border-collapse: collapse;
                    margin-bottom: 20px;
                }

                th, td {
                    border: 1px solid #ddd;
                    padding: 8px;
                    text-align: left;
                }

                th {
                    background-color: #f2f2f2;
                }
                .beforeCollapse {
                    margin-right: 30px;
                }

                .collapsible-column {
                    white-space: nowrap;
                    position: relative;
                }

                .collapsible-btn {
                    cursor: pointer;
                    position: absolute;
                    top: -6px;
                    right: 5px;
                }

                .content {
                    display: table-cell;
                }

                .hidden {
                    display: none;
                }
                .vertical-header {
                    writing-mode: vertical-lr;
                    transform: rotate(270 deg);
                    white-space: nowrap;
                    overflow: visible;
                    margin-top: 20px;
                }


                .afterCollapsible {
                    width: 10px;
                }
    .selected_client{
            background-color: #56575B;
            color: white;
        }
        .unselected_client{
            background-color: white;
            color: black;
        }
        .clients_div li{
            width: 100%;
            list-style: none;
            height: 50px;
            border-radius: 6px;
            display: flex;
            justify-content: start;
            padding-left: 10px;
            align-items: center;
            margin-top: 15px;
            font-weight: 400;
        }
        li:hover{
            cursor: pointer;
        }
        .forms_div{
            border-radius: 6px; height: 60px; background-color: #F1F2F5;
        }
        .clients_div{
            border-radius: 10px;
            background: #F1F2F5;
            box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.25)
        }
        @media (max-width: 800px) {
            .wrapper_div{
                flex-wrap: wrap;
                width: 100%;
            }
            .clients_div{
                width: 100% !important;
                margin: auto;
            }
        }
        .table-container{
            height:400px;
            overflow: auto;
            font-size: 12px;
        }
        /* td{
            padding: 2px !important;
        } */
        .center_span{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .select_container{
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
</style>
<body class="g-sidenav-show bg-gray-200">
    <noscript><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K3SG3FFJ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <aside style="background-color: #0E4884!important"
        class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3"
        id="sidenav-main">
        <div class="sidenav-header">
            <i
                class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
                aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0"
                href="/"
                >
                <img src="/logo.png" class="navbar-brand-img h-100"
                    alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">Jome Journey</span>
            </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto "
            id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white " href="/">
                        <div
                            class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">dashboard</i>
                        </div>
                        <span class="nav-link-text ms-1">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link text-white"
                        href="/clients">
                        <div
                            class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-list"
                                style="color: #ffffff;"></i>
                        </div>
                        <span class="nav-link-text ms-1">Clients</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" style="background-color: #002655;" href="/leads">
                        <div
                            class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-database"></i>
                        </div>
                        <span class="nav-link-text ms-1">Leads</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white "
                        href="/logout">
                        <div
                            class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">logout</i>
                        </div>
                        <span class="nav-link-text ms-1">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
          <li class="ms-auto nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
      </div>
    </nav>
    <!-- End Navbar -->
    <link rel="stylesheet" href="/css/loading.css">
    <div class="overlay">
        <div class="loader"></div>
    </div>
        <link rel="stylesheet" href="css/leads.css">
        <div class="filter-container">
            <div class="select_container" style=" width: 20%; border-radius: 7px; display: inline-block; background-color: white; padding: 1px 10px;">
                <span><i
                        class="fa-solid fa-list"
                        style="color: #000000;"></i></span>
                <select style="width: 88%;" id="profile-filter" class="filter-input">
                    <option value selected disabled>Profiles</option>
                    <option value="all">All</option>
                </select>
            </div>
               
            <div class="download-container ">
                <input class="download_input"
                    type="text"
                    name="daterange" value="Date" />
            </div>
            <div class="search_input mt-2 d-inline-block">
                <input class="input_search"
                    style="padding: 13px 5px; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); border-radius: 5px;  background-color: #ffffff;  border: none; margin-top: 3px;"
                    type="text" placeholder="Search..">
            </div>
            
        </div>
        <div class="d-flex wrapper_div">
            <div class="p-3 ms-2 text-center clients_div w-30 height-400 border border-2 overflow-auto">
                <div  class="d-flex w-100 border border-0 rounded-2 p-2"
                style="background-color: white; box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25);">
                    <input id="search_client" class="w-100 border border-0 rounded-2 p-2" placeholder="Search Client" type="text">
                    <span class="center_span"><i
                        class="fa-solid fa-magnifying-glass fa-xl"></i></span>
                </div>
                <div class="clientsname_div">
                    <%for(let i = 0; i < clients.length; i++){%>
                        <%if(i == 0){%>
                            <li  class="nav-link-text selected_client border-0" mid="<%=clients[i].id%>" value="<%=clients[i].name%>" onclick="clientListener(this)" ><span
                                style="display: flex; margin-right: 15px; border-radius: 50%; padding: 3px; background-color: #56575B;"><i
                                    class="fa-solid fa-list"
                                    style="color: #ffffff;"></i></span>
                                    <%if(clients[i].length > 18){%>
                                        <%=clients[i].name.substring(0, 14) + '...' %>
                                        <%}else{%>
                                            <%=clients[i].name%>
                                        <%}%>
                                </li>
                        <%}else{%>
                            <li class="nav-link-text unselected_client border-0" mid="<%=clients[i].id%>" value="<%=clients[i].name%>" onclick="clientListener(this)" >
                                <span style="display: flex; margin-right: 15px; border-radius: 50%; padding: 3px; background-color: #56575B;"><i
                                    class="fa-solid fa-list"
                                    style="color: #ffffff;"></i></span>
                            <%if(clients[i].length > 18){%>
                                <%=clients[i].name.substring(0, 14) + '...' %>
                                <%}else{%>
                                    <%=clients[i].name%>
                                <%}%>
                            </li>
                        <%}%>
                    <%}%>
                </div>
            </div>
            <div class="d-flex w-100 overflow-auto table-container p-3">
                <table id="myTable">
                    <thead>
                        <tr>
                            <th class="collapsible-column">    
                                <div class="beforeCollapse" >Date</div>
                                <button style="border: none; background-color: transparent; font-size: 24px;" class="collapsible-btn" collapseId="one" onclick="toggleColumn(this)">&#x2212;</button>
                            </th>

                            <th class="collapsible-column">    
                                <div class="beforeCollapse" >Name</div>
                                <button style="border: none; background-color: transparent; font-size: 24px;" class="collapsible-btn" collapseId="four" onclick="toggleColumn(this)">&#x2212;</button>
                            </th>

                            <th class="collapsible-column">    
                                <div class="beforeCollapse">Mobile</div>
                                <button style="border: none; background-color: transparent; font-size: 24px;" class="collapsible-btn" collapseId="five" onclick="toggleColumn(this)">&#x2212;</button>
                            </th>

                            <th class="collapsible-column">    
                                <div class="beforeCollapse">Email</div>
                                <button style="border: none; background-color: transparent; font-size: 24px;" class="collapsible-btn" collapseId="six" onclick="toggleColumn(this)">&#x2212;</button>
                            </th>
                            <th class="collapsible-column">    
                                <div class="beforeCollapse">Profile</div>
                                <button style="border: none; background-color: transparent; font-size: 24px;" class="collapsible-btn" collapseId="six" onclick="toggleColumn(this)">&#x2212;</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>
        </div>
            <div class="loginPopup">
                <div class="formPopup" id="popupForm">
                    <form class="formContainer">
                        <a class="btn" value="junk" id="junk-btn"
                            onclick="markStatusCheck(this)"
                            style="background-color: red; color: black; font-weight: 900;">Mark
                            Junk
                        </a>
                        <a class="btn" value="unknown" id="junk-btn"
                            style="background-color: #FFC22F;  color: black; font-weight: 900;"
                            onclick="markStatusCheck(this)">Mark Unknown
                        </a>
                        <a class="btn" value="clear" id="clear-btn"
                            onclick="markStatusCheck(this)"
                            style="background-color: #54CA79;  color: black; font-weight: 900;">Mark
                            Clear
                            </a>
                        <button type="button"
                            style="background-color: #0A2558; font-weight: 900;"
                            class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="script/leadscript.js"></script>
 
  <!--   Core JS Files   -->
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/material-dashboard.min.js?v=3.1.0"></script>
  <script>
      let leads = [];
      let leadids = [];
      let profiles = [];
        start();
        filter();
            async function start() {
                const res = await fetch(`api/getLeads`);
                const data = await res.json();
                leads = data.leads;
                profiles = data.profiles;
                console.log(data);
                const id = document.querySelector(".selected_client").getAttribute("mid");

                const nextLeads = leads.filter(elem=>{
                    return elem.clientId == id;
                })
                const selectedProfiles = profiles.filter(elem=>{
                    return elem.client_id == id;
                })
                console.log(selectedProfiles);
                populateLeads(nextLeads);
                populateProfileFilter(selectedProfiles);
            }


            function filter() { // ###### Calling the filters ######
                // Search input 
                const input_search = document.querySelector(".input_search");
                const profile_filter = document.getElementById("profile-filter");
                const liElements = document.querySelectorAll('.nav-link-text');

                
                // const dateFilter = document.getElementById("date-filter");
                let startDate = "";
                let endDate = "";

                $(function() {
                    $('input[name="daterange"]').daterangepicker({
                        autoUpdateInput: false,
                        locale: {
                            cancelLabel: 'Clear'
                        }
                    });
                    $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
                        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                        startDate =  picker.startDate;
                        endDate =  picker.endDate;
                        applyFilters();
                    });
                    $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
                        $(this).val('');
                        startDate =  "";
                        endDate =  "";
                        applyFilters();
                    });
                });
                profile_filter.addEventListener("change", applyFilters);
                input_search.addEventListener("input", applyFilters);


                liElements.forEach(function (li) {
                    li.addEventListener('click', ()=>{
                        // const name = li.getAttribute("mid");
                        applyFilters();
                    });
                });

                function applyFilters() {
                    const id = document.querySelector(".selected_client").getAttribute("mid");
                    let filterleads = leads;
                    profile_filter_value = profile_filter.value
                    search_value = input_search.value;
    
                        if(search_value){
                            filterleads = filterleads.filter(lead=>{
                                const profile = profiles.find(elem=>{
                                    return elem.id == lead.profileId;
                                })
                                let objectAsString = JSON.stringify(lead + profile.name);
                                return objectAsString.toLocaleLowerCase().includes(search_value.toLocaleLowerCase());
                            })
                        }

                        if(id){
                            filterleads = filterleads.filter(elem => {
                                return elem.clientId == id;
                            })
                        }
                        
                        if(profile_filter_value && profile_filter_value != 'all'){
                            filterleads = filterleads.filter(elem => {
                                return elem.profileId == profile_filter_value;
                            })
                            console.log(filterleads)

                        }
    
                        if(startDate != "" && endDate != ""){
                            filterleads = filterleads.filter((lead) => {
                                    const createdAtDate = new Date(lead.created_at);
                                    const milliseconds = createdAtDate.getTime();
                                    const start = new Date(startDate);
                                    const end = new Date(endDate);
                                    console.log(start, end);
                                    return milliseconds >= start && milliseconds <= end;
                            });
                        }
                        populateLeads(filterleads);
                        
                    }
            }

            function clearFilters(){
                const clientFilter = document.getElementById("client-filter");
                const projectFilter = document.getElementById("project-filter");
                const junkFilter = document.getElementById("junk-filter");
                clientFilter.value = "all";
                projectFilter.value = "all";
                junkFilter.value = "all";

            }


            function populateLeads(filterleads) {
                const tbody = document.getElementById('table-body');
                tbody.innerHTML = '';

                // document.querySelectorAll(".collapsible-btn").forEach((btn)=>{
                //     btn.innerHTML = '&#x2212;';
                //     btn.previousElementSibling.classList.remove('vertical-header');
                //     btn.parentElement.classList.remove('afterCollapsible');
                //     btn.previousElementSibling.classList.add('beforeCollapse');
                //     btn.previousElementSibling.classList.remove('hidden');
                // });



                for (let i = 0; i < filterleads.length; i++) {

                    const newRow = document.createElement('tr');
                    
                    const cell1 = document.createElement('td');
                    const timestamp = filterleads[i].created_at;
                    const date = new Date(timestamp);
                    cell1.innerHTML = `<p>${dateFormat(date)}</p>`;
                    cell1.style.whiteSpace = "nowrap";
                    cell1.classList.add("one");
                    newRow.appendChild(cell1);

                    const cell4 = document.createElement('td');
                    cell4.innerHTML = `<p>${filterleads[i].name}</p>`;
                    cell4.classList.add("four");
                    newRow.appendChild(cell4);

                    const cell5 = document.createElement('td');
                    cell5.innerHTML = `<p>${filterleads[i].phone}</p>`;
                    cell5.classList.add("five");
                    newRow.appendChild(cell5);

                    const cell6 = document.createElement('td');
                    cell6.innerHTML = `<p>${filterleads[i].email}</p>`;
                    cell6.classList.add("six");
                    newRow.appendChild(cell6);

                    const cell7 = document.createElement('td');
                    const profile = profiles.find(elem=>{
                        return elem.id == filterleads[i].profileId;
                    })
                    cell7.innerHTML = `<p>${profile.name}</p>`;
                    cell7.classList.add("six");
                    newRow.appendChild(cell7);
                
                    tbody.appendChild(newRow);
                }
            }

            function dateFormat(dateString) {
                const simplifiedDate = dateString.toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                });
                return simplifiedDate;
            }

            function clientListener(curr_elem){
                clearclientSelected(curr_elem);
                start();
                // const input_search = document.querySelector(".input_search");
                // const junkFilter = document.getElementById("junk-filter");
                // const profile_filter = document.getElementById("profile-filter");
                // applyFilters(curr_elem.innerText, profile_filter, projectFilter, junkFilter, input_search );
            }

            function clearclientSelected(curr_elem){
              document.querySelectorAll('.clientsname_div li').forEach((element)=>{
                element.classList.remove('selected_client');
                element.classList.add('unselected_client');
              })
              curr_elem.classList.remove("unselected_client");
                  curr_elem.classList.add("selected_client");
            }


            const searchInput = document.getElementById('search_client');
            searchInput.addEventListener('input', function() {
            const searchValue = searchInput.value.toLowerCase();

            // Get the list of client names in the <li> elements
            const clientItems = document.querySelectorAll('.clientsname_div li');

            // Loop through the list items and hide those that don't match the search query
            clientItems.forEach(function(item) {
                // If the client name includes the search value, show the item; otherwise, hide it
                if (item.textContent.toLowerCase().includes(searchValue)) {
                    item.style.display = ''; // or 'block' or 'flex' depending on your layout
                } else {
                    item.style.display = 'none';
                }
            });
            })
  
            function toggleColumn(btn) {
                const collapseClass = btn.getAttribute('collapseId');
                let contentRows = document.querySelectorAll('.' + collapseClass);
                    console.log(contentRows);
                contentRows.forEach(function(content) {
                content.querySelector("p").classList.toggle('hidden')
                });
                    btn.previousElementSibling.classList.toggle('vertical-header');
                    btn.innerHTML = contentRows[0].firstChild.classList.contains('hidden') ? '&#x208A;' : '&#x2212;';
                    btn.parentElement.classList.toggle('afterCollapsible');
                    btn.previousElementSibling.classList.toggle('beforeCollapse');
                    
            }
  


            function populateProfileFilter(profiles){
                const profileFilter = document.getElementById("profile-filter");
                profileFilter.innerHTML = "";
                profileFilter.innerHTML = ` <option value selected disabled>Profiles</option>
                    <option value="all">All</option>`
                profiles.forEach((profile)=>{
                    const option = document.createElement("option");
                    option.value = profile.id;
                    option.innerHTML = profile.name;
                    profileFilter.appendChild(option);
                });
            }
  
  </script>
  <script src="/script/customselect.js">

  </script>
</body>

</html>