<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/css/form.css"> 
    <!-- Google Tag manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K3SG3FFJ');  
  </script>
  </head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://kit.fontawesome.com/658a2960da.js"
    crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    rel="stylesheet">
  <body
    style="background-image: url('<%=landingpage.background%>'); min-height: 100vh;">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3SG3FFJ"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <style>
      .error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
.inner-design {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #0000001f;
    padding: 40px 25px;
    margin-bottom: 30px;
}
.logo img {
    width: 20%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #0000001f;
    border-radius: 100px;
    padding: 8px;
    margin-top: -100px;
}
.heading{
  font-size: 20px; font-weight: 500;
}
.input_option{
    border: none;
    border-bottom:
    1px solid #d3d3d3;
}
.input_option:focus{
  outline: none;
}
    </style>
    <form id="regForm" action="/formsubmit" method="post">
      <div class="tab">
        <div class="first-brand-box">
          <div class="inner-design" style="text-align: center;">
            <span class="logo"><img src="<%=landingpage.logo%>" alt></span>
            <h3 class="heading" style="white-space: pre-line;"><%=landingpage.f_heading%></h3>
            <p
              style="font-family: myriad_regular, sans-serif; font-size: 15px; font-weight: 400; white-space: pre-line; color: #6c6c6c;"><%=landingpage.f_sub_heading%></p>
          </div>
        </div>
        <p id="project_name" style="display: none;"><%=projectName%></p>
        <p id="client_name" style="display: none;"><%=clientName%></p>
        <p id="client_code" style="display: none;"><%=clientCode%></p>
        <%for(let i = 0; i < landingpage.questions.length; i++){%>
        <%if(landingpage.questions[i].options.length > 0){%>
        <div class="inside-tab radio-div">
          <h3 class="heading"><%=landingpage.questions[i].question%></h3>
          <div>
            <%for(let j = 0; j < landingpage.questions[i].options.length;
            j++){%>
            <label class="container">
              <input type="radio"
                name="<%=landingpage.questions[i].question%>"
                value="<%=landingpage.questions[i].options[j]%>">
              <span class="checkmark" data-value="Three"><%=landingpage.questions[i].options[j]%></span>
            </label>
            <%}%>
          </div>
        </div>
        <%}else{%>
        <div class="inside-tab input-div1 input_option_div">
          <h3 class="heading"><%=landingpage.questions[i].question%></h3>
          <input class="input_option" type="text" placeholder="Enter your answer" required
            name="<%=landingpage.questions[i].question%>"
            >
        </div>
        <% } %>
        <%}%>
      </div>
      <div class="tab">
        <div class="inside-tab2 input-div">
          <div>
            <h3
              style="margin: 0px 0px 13px 0px; text-align: left; font-weight: 400;">Contact
              information <i class="fa-solid fa-circle-info"
                style="color: #000000;"></i></h3>
            <p class="second-form-para">We'll use your information to contact
              you</p>
          </div>
          <div id="input_div" style="margin-bottom: 20px;">
            <label class="input_label_form">Full Name</label>
            <div
              style="display: flex; border-bottom: 1px solid rgb(192 192 192);">
              <input placeholder="Enter your answer." required
                oninput="this.className = ''"
                name="name">
            </div>
          </div>
          <div id="phone_div" style="margin-bottom: 20px;">
            <label class="input_label_form">Phone number</label>
            <div style="display: flex;"><span style="display: flex;
              align-items: center;
              margin: 0px 5px 17px 1px; font-size: smaller;min-width: 60px;
    color: dimgrey;">SG +65</span><div
                style="display: flex; border-bottom: 1px solid rgb(192 192 192); width: 100%;">
                <input type="number" minlength="8"
                  maxlength="8" required placeholder="Mobile Number"
                  oninput="this.className = ''"
                  name="phone"></div>
            </div>
          </div>
          <div id="phone_div" style="margin-bottom: 20px;">
            <label class="input_label_form">Email</label>
            <div
              style="display: flex; border-bottom: 1px solid rgb(192 192 192);">
              <input type="email" placeholder="Enter your answer." required
                oninput="this.className = ''"
                name="email">
            </div>
          </div>
        </div>

      </div>
      <div class="tab">
        <div class="inside-tab">
          <h3>Privacy Policy</h3>
          <p class="priv_para" style=" color: rgb(116, 113, 113);">By clicking
            Submit, you agree to send your info to <%=landingpage.priv_text%>
            who agrees to use it according to their privacy policy. Facebook
            will also use it subject to our Data Policy, including to auto-fill
            forms for ads.<a style="text-decoration: none; color: #226DDA;"
              href="https://www.facebook.com/privacy/policy/"> View meta privacy
              policy</a> and <a style="text-decoration: none; color: #226DDA;"
              href="<%=landingpage.priv_link%>"> <%=landingpage.priv_link_text%>
            </a></p>
        </div>
      </div>
      <div class="button-div">
        <button
          style="font-size: 14px; font-family: myriad-regular, sans-serif;"
          type="button" id="nextBtn" onclick="nextbtn(1)">Next</button>
      </div>
    </form>
  </body>
  <script src="/script/formscript.js"></script>

</html>
