<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="/css/thanks.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    rel="stylesheet">
    <!-- Google tag manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K3SG3FFJ');  
    </script>
    
</head>

<body style="background-image: url('<%=landingpage.background%>'); padding: 50px 0px; background-attachment: fixed; background-repeat: no-repeat;">
    <!-- Google tag manager -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3SG3FFJ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        
    <!-- facobook form start  -->
    <div class="from-wrapper">
        <form id="regForm" action="/action_page.php">
            <div class="thank-you" id="step-4">
                <div class="inner-design" style="text-align: center;">
                    <span class="logo"><img src="<%=landingpage.logo%>" alt=""></span>
                    <h5 class="thanks_heading" style="font-size: 20px;"><%=landingpage.comp_heading%></h5>
                    <p class="lis-top" style="font-family: myriad_regular, sans-serif; white-space: pre-line; font-weight: 400; font-size: 18px;"><%=landingpage.comp_desc%></p>
                    <div class="list-bottom">
                        <p class="submitted-msg"><span class="icon"><img src="list-icon.svg" alt=""></span>You successfully submitted your responses.</p>
                    </div>
                </div>
            </div>
            <!-- One "tab" for each step in the form: -->
            <!-- next button start  -->
            <div style="overflow:auto;">
                <div style="position: relative;" class="button-main">
                    <a href="<%=landingpage.last_btn_link%>" > <button type="button" id="nextBtn"><%=landingpage.last_btn_text%></button></a>
                </div>
            </div>
            <!-- next button end  -->
        </form>
    </div>
    <!-- next button end  -->
    <!-- facobook form end -->

</body>

</html>