<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>

    <link rel="shortcut icon" href="assets/images/favicon.png" />

    <!-- Bootstrap CSS -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous" />

    <!-- Font Awesome CDN -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous" />

    <!-- Animate CDN -->

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- Custom Stylesheet -->

    <link rel="stylesheet" href="/css/hbd.css" />

    <!-- Jquery CDN -->

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>

    <style>
      #image-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover; /* Adjust the size as needed */
    background-position: center; /* Adjust the position as needed */
    z-index: -1; /
        }

        #loading-image, #heavy-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
     <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K3SG3FFJ');  
  </script>
  </head>
  <body
    class
    style="
      background-image: url();
      background-size: cover;
      background-attachment: unset;
      background-position: center center;
    "
    >
    <noscript><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-K3SG3FFJ"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div id="image-container">
      <img id="loading-image" src="/blurimage.png" alt="Loading Image">
      <img id="heavy-image" src="<%=info.first_img_link%>" alt="Heavy Image">
  </div>
  
    
    <!-- Google Tag Manager (noscript) -->

    <noscript><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K7V24Q5"
        height="0"
        width="0"
        style="display: none; visibility: hidden"></iframe></noscript>

    <!-- End Google Tag Manager (noscript) -->

    <header class="main_header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
           
          </div>
        </div>
      </div>
    </header>
    
    <main>
      <!-- <div class="overlay" id="loading-overlay">
        <div class="loader"></div>
      </div> -->
      <section class>
        <div class="container-fluid">
          <div class="row justify-content-center align-items-center min-vh-80">
            <div class="col-md-11">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-6 px-4">
                  <div class="card main_card">
                    <h3 style="white-space: pre-line">
                      <%=info.first_heading%>
                    </h3>

                    <p style="white-space: pre-line">
                      <%=info.first_desciption%>
                    </p>
                    <a href="/topicform/form/<%=id%>/<%=form_id%>"
                      class="btn btn_cal mt-3">
                      <%=info.first_btn_text%>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <div class="pop">
      <div>
        <div class="VistorView pop-1 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>Yazed ibu submitted recently</h6>
          </div>
        </div>

        <div class="VistorView pop-2 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>Tan cheng boon submitted recently</h6>
          </div>
        </div>

        <div class="VistorView pop-3 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>John tan submitted recently</h6>
          </div>
        </div>

        <div class="VistorView pop-4 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>Issac lim zhi wei submitted recently</h6>
          </div>
        </div>

        <div class="VistorView pop-5 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>Eileen zhang submitted recently</h6>
          </div>
        </div>

        <div class="VistorView pop-6 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>Jessica siow submitted recently</h6>
          </div>
        </div>

        <div class="VistorView pop-7 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>Stacy lim submitted recently</h6>
          </div>
        </div>

        <div class="VistorView pop-8 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>Ashraf rahman submitted recently</h6>
          </div>
        </div>

        <div class="VistorView pop-9 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>Ismail ibn Ibrahim submitted recently</h6>
          </div>
        </div>

        <div class="VistorView pop-10 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>Steve ong submitted recently</h6>
          </div>
        </div>

        <div class="VistorView pop-11 dark">
          <div class="VistorView_icon">
            <i class="fa fa-user"></i>
          </div>

          <div tabindex="0" class="VistorView_text">
            <h6>Zhi wei submitted recently</h6>
          </div>
        </div>
      </div>
    </div>

    <footer></footer>

    <!-- Scripts -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      function showActivePeople(params) {
    const delays = [
        1500, 5000,
        5500, 9000,
        9500, 13000,
        13500, 17000,
        17500, 21000,
        21500, 25000,
        25500, 29000,
        29500, 33000,
        33500, 37000,
        37500, 41000,
        41500, 45000,
        8500, 18000
      ];
      
      const classes = [
        ".VistorView.pop-1", ".VistorView.pop-1",
        ".VistorView.pop-2", ".VistorView.pop-2",
        ".VistorView.pop-3", ".VistorView.pop-3",
        ".VistorView.pop-4", ".VistorView.pop-4",
        ".VistorView.pop-5", ".VistorView.pop-5",
        ".VistorView.pop-6", ".VistorView.pop-6",
        ".VistorView.pop-7", ".VistorView.pop-7",
        ".VistorView.pop-8", ".VistorView.pop-8",
        ".VistorView.pop-9", ".VistorView.pop-9",
        ".VistorView.pop-10", ".VistorView.pop-10",
        ".VistorView.pop-11", ".VistorView.pop-11",
        ".VistorView.index", ".VistorView.index"
      ];
      
      for (let i = 0; i < delays.length; i++) {
        setTimeout(function () {
          if (i % 2 === 0) {
            $(classes[i]).addClass('active');
          } else {
            $(classes[i]).css("opacity", "0");
          }
        }, delays[i]);
      }
}
showActivePeople();
    </script>
    <script>
      // document.getElementById("loading-overlay").style.display = "block";
      // function checkImageLoaded(imageUrl) {
      //     return new Promise((resolve, reject) => {
      //         const img = new Image();
      //         img.src = imageUrl;
      //         img.onload = function () {
      //             resolve('Image is completely loaded');
      //         };
      //         img.onerror = function () {
      //             reject('Failed to load the image');
      //         };
      //     });
      // }
      // const bodyStyle = document.body.getAttribute("style");
      // const match = /url\(['"]?(.*?)['"]?\)/.exec(bodyStyle);
  
      // if (match) {
      //     const backgroundImageUrl = match[1];
          // checkImageLoaded('<%=info.first_img_link%>')
          //     .then(result => {
          //       document.getElementsByTagName("body")[0].style.backgroundImage = '<%=info.first_img_link%>'
          //     })
          //     .catch(error => {
          //         console.error(error);
          //     });
      // } else {
      // }

      const loadingImage = document.getElementById("loading-image");
        const heavyImage = document.getElementById("heavy-image");

        // Hide the heavy image initially
        heavyImage.style.display = "none";

        // Preload the heavy image
        const preloadedImage = new Image();
        preloadedImage.src = document.getElementById("heavy-image").getAttribute('src');
        preloadedImage.onload = () => {
            // When the heavy image is fully loaded, replace the loading image
            heavyImage.style.display = "block";
            loadingImage.style.display = "none";
        };

        // document.getElementById("close").addEventListener("click", ()=>{
        //   window.close();
        // });

        
  </script>
  </body>
</html>
